.spellDescription {
    text-indent:1em;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #68EA79;
}

.selectable {
    cursor: pointer;
}

.page-break {
    page-break-after: always;
}

.unbroken {
    page-break-inside: avoid;
}