<h2>What is this?</h2>
<blockquote>
    This is a hobby project created for learning AngularJS to help generate spellbooks and search
    through spells for Dungeons and Dragons.  Using this tool you can create and edit your own spellbooks, keeping track
    of known and prepared spells, and creating custom spells (DM-approved, of course!).  This is
    intended as a tool to help spellcasters make sense of the enormous selection of spells at their disposal, and create
    streamlined print-outs to facilitate play instead of trying to look up a spell every time with
    a million paper bookmarks all over.
</blockquote>

<h2>What is this <em>not?</em></h2>
<blockquote>
    This is <em><strong>NOT</strong></em> a database of spells.  No copyright infringement is intended,
    and to actually use this site you'll need a copy of the Player's Handbook yourself.  Go buy one, 5e is awesome!
    Do <em><strong>NOT</strong></em> share created files of spell lists or spell books.  Let's keep this site
    up and running and Wizards of the Coast happy, please!  This does mean you'll have to input your own spells,
    but you can input as little or as much as you'd like and save locally as you go, filling in more
    as you feel it's needed.  The only thing this site provides is a list of class names and the tools
    to fill things in for yourself.  NOTHING IS SAVED TO THE SERVER.  EVER.  DO NOT ASK FOR THIS FEATURE.  It's purely just a
    javascript SPA (Single Page Application) that can load and save <em>local</em> JSON data that you've created yourself.  It's basically
    just a glorified text editor that helps you organize your own data that <em>you have provided yourself</em>.  Have I emphasized that enough?
</blockquote>

<h2>What, nothing's saved to the server?</h2>
<blockquote>
    Nothing.  There is no storage on the server for anything.  This is 100% intended to avoid legal trouble and discourage piracy.
    All data is loaded and saved locally.
</blockquote>

<h2>So what happens if I close my browser?</h2>
<blockquote>
    All data is saved locally in your browser's local storage as soon as you make any changes.  If you close your browser and come
    back a week later, all your data will be there and intact.  It's encouraged that you save local backups using the Export feature
    on the Import/Export screen, and you'll need to use this feature if you want to transfer your data to a different device (such as a tablet).
</blockquote>