<h2>Getting Started</h2>

<blockquote>
    Check out the about page for more details as to why, but unfortunately I can't host any data containing copyrighted information.  Crazy, right?
    This means that you'll need to input your own data.  Fortunately it's easy!  And once you've input your data, you can export it to use your data on other devices
    or to let others in your group use it for their spellbooks.
</blockquote>

<h2>Adding Spells</h2>

<blockquote>
    The first thing you'll need to do is add in some spells.  Go to the Add Spells tab and enter information for a spell, then hit Submit.  After you hit Submit,
    the spell is now in the system.  If you want to take a look at it, you can jump over to the Quick Search tab, which will list all spells that are currently in the system.
    Switching tabs won't cause you to lose any information on other tabs, so you're safe to jump around all you'd like.  As a suggestion, simply entering the page number reference
    as the description can make initial spell entry easy.  You can always go back and edit spells later to add more details or a full description.
</blockquote>

<h2>Assigning spells to classes</h2>

<blockquote>
    You probably noticed that there's nowhere to indicate what classes can cast what spells.  That's the next step.  Go to Class Spell Lists and select a class.  Then enter a
    spell name and select the spell you want to add when it comes up in the search results just below.  Rinse and repeat for each class and each spell for that class.  As before,
    you can always come back and edit these if you need to.  Now you're ready to make a spellbook!
</blockquote>

<h2>Making a spellbook</h2>

<blockquote>
    So now you've got your spells ready to go, and you want to put them in a spellbook.  Click on the Spellbooks tab, then click that shiny green button next to New Spellbook.
    Now select a class for your spellbook to use.  The list of all spells that are available to this class will be listed on the column to the left.  To add a spell to your Known Spells
    list, just click on the spell.  To remove it, click on it again.  Once spells are in your Known Spells list, you can optionally click on them to mark them as Prepared, depending on
    your class's spellcasting.  You don't have to do this, though.  Also note that if you need to borrow spells from another class, either for multiclassing, cleric/druid/pally domain things, or for some feats/racial abilities,
    just select a different Class and pick out the spell.  You can mix and match as your character's knowledge demands.  Just, you know... don't cheat.  Cheating makes DMs sad.  Keep in mind
    that no actual validation checks are done, so it's possible to make a spellbook containing every spell in the game.  You'll have to reference your class's spellcasting information to
    see what restrictions you have and apply them yourself.
</blockquote>

<h2>Printing your spellbook</h2>

<blockquote>
    So you've got a spellbook!  Great!  It'll automatically save any updates you make, so you can use this app as your interactive spellbook if you'd like.  Or if you prefer paper because
    you're a classy individual, you can print out your spellbook for easy use!  Just go to your Spellbooks tab, select the spellbook you want to print, and press Print in your browser.
    Easy as that.  You can print to XPS or PDF for a nice, neat document that you can view on a tablet or smartphone easily as another option.  Note that Prepared spells will be marked permanently,
    which you may or may not want.
</blockquote>